@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
/* Delete browser standard margins and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global style*/

body {
    background-color: antiquewhite;
    font-family: "Kdam Thmor Pro", sans-serif ;
    color: #252525;
}


/* heading */


/*----------- Header--------*/

#head {
    margin: 0 auto;
    width: 95%;
    line-height: 35px;
    background-color: rgb(60, 60, 60, 1);
    border: #252525 2px solid;
    border-radius: 25px;
    color: rgba(248, 241, 25, 0.969);
}

#title {
    float: left;
}

#score {
    float: right;
}

#highScore {
    float: right;
}

#time {
    text-align: center;
}