@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
/* Delete browser standard margins and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global style*/

body {
    background-color: antiquewhite;
    font-family: "Kdam Thmor Pro", sans-serif ;
    color: #252525;
}


/* heading */


/*----------- Header--------*/

#head {
    margin: 0 auto;
    width: 95%;
    line-height: 35px;
    background-color: rgb(60, 60, 60, 1);
    border: #252525 2px solid;
    border-radius: 25px;
    color: rgba(248, 241, 25, 0.969);
}

#title {
    float: left;
}

#score {
    float: right;
}

#highScore {
    float: right;
}

#time {
    text-align: center;
}

/* Game start button*/

#startGame {
    text-align: center;
    width: 100%;
    height: auto;
}

#startBtn {
    font-size: 1.5rem;
    line-height: 80%;
    padding: 35px;
    color: blue;
}

/*Game section*/

.gameSection {
    margin: 0 auto;
    background-color: aquamarine;
    width: 80%;
}

#meaning, #wordColor {
    margin: 2% auto;
    text-align: center;
    background-color: rgb(120, 120, 120, 0.5);
    width: 50%;
    height: auto;
    font-size: 1.5rem;
}

#topWord, #bottomWord {
    margin: 2% auto;
    text-align: center;
    background-color: white;
    width: 80%;
    height: auto;
    font-size: 1.5rem;
    
}

#instructions {
    margin: 0 auto;
    width: 100%;
    
}

#instructionsBox {
    text-align: center;
    margin: 2% auto;
    width: 50%;
    font-size: 1.5rem;
    background-color: rgb(120, 120, 120, 0.5);
    
}

#answerSection {
    margin: 2% auto;
    width: 100%;
    text-align: center ;

}

.btn {
    visibility: hidden;
    font-size: 1.5rem;
    line-height: 80%;
    padding: 35px;
    color: blue;
}

